
<div class="flex justify-center gap-4">
  <ng-container *ngTemplateOutlet="priorityView ? adminPriorityView : userPriorityView"></ng-container>

    <ng-template #adminPriorityView>
      <label class="flex items-center justify-center w-16 h-16 rounded-full cursor-pointer transition-all"
            [ngClass]="{'bg-red-500 text-white': selectedTemperature === 'high', 'bg-gray-200': selectedTemperature !== 'high'}"
            (click)="selectTemperature('high')">
        <i class="fa fa-thermometer-full text-2xl"></i>
      </label>
      
      <label class="flex items-center justify-center w-16 h-16 rounded-full cursor-pointer transition-all"
            [ngClass]="{'bg-orange-500 text-white': selectedTemperature === 'medium', 'bg-gray-200': selectedTemperature !== 'medium'}"
            (click)="selectTemperature('medium')">
        <i class="fa fa-thermometer-half text-2xl"></i>
      </label>
      
      <label class="flex items-center justify-center w-16 h-16 rounded-full cursor-pointer transition-all"
            [ngClass]="{'bg-green-500 text-white': selectedTemperature === 'low', 'bg-gray-200': selectedTemperature !== 'low'}"
            (click)="selectTemperature('low')">
        <i class="fa fa-thermometer-empty text-2xl"></i>
      </label>
  </ng-template>

  <ng-template #userPriorityView>      
      <!-- Température haute (high) -->
      <ng-container *ngIf="selectedTemperature === 'high'">
        <label class="flex items-center justify-center w-16 h-16 rounded-full transition-all bg-red-500 text-white">
          <i class="fa fa-thermometer-full text-2xl"></i>
        </label>
      </ng-container>
  
      <!-- Température moyenne (medium) -->
      <ng-container *ngIf="selectedTemperature === 'medium'">
        <label class="flex items-center justify-center w-16 h-16 rounded-full transition-all bg-orange-500 text-white">
          <i class="fa fa-thermometer-quarter text-2xl"></i>
        </label>
      </ng-container>
  
      <!-- Température basse (low) -->
      <ng-container *ngIf="selectedTemperature === 'low'">
        <label class="flex items-center justify-center w-16 h-16 rounded-full transition-all bg-green-500 text-white">
          <i class="fa fa-thermometer-empty text-2xl"></i>
        </label>
      </ng-container>
  
      <!-- Cas par défaut où aucune température n'est sélectionnée -->
      <ng-container *ngIf="selectedTemperature !== 'high' && selectedTemperature !== 'medium' && selectedTemperature !== 'low'">
        <label class="flex items-center justify-center w-16 h-16 rounded-full transition-all bg-gray-200">
          <i class="fa fa-thermometer-empty text-2xl"></i>
        </label>
      </ng-container>  
  </ng-template>
  </div>
  
