<section class="listing-apply">
    <h2 class="section-heading">Formulaire de demande d'intervention - PAGE 1</h2>
    <form [formGroup]="applyForm" (ngSubmit)="submitApplication()">
      <label for="registration">Registration</label>
      <input id="registration" type="text" formControlName="registration">

      <label for="first-name">First Name</label>
      <input id="first-name" type="text" formControlName="firstName">

      <label for="last-name">Last Name</label>
      <input id="last-name" type="text" formControlName="lastName">

      <label for="email">Email</label>
      <input id="email" type="email" formControlName="email">
      
      <div *ngIf="applyForm.get('email')?.invalid && applyForm.get('email')?.touched">
        <small *ngIf="applyForm.get('email')?.errors?.['required']">Email est requis.</small>
        <small *ngIf="applyForm.get('email')?.errors?.['email']">Email invalide.</small>
      </div>

      <button type="submit" class="primary" [disabled]="applyForm.invalid">Apply now</button>
    </form>
  </section>
