<div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <section class="flex justify-center">
      <img src="assets/afpa-logo.jpg" alt="">
    </section>
    <section>
      <div class="flex justify-center">
        <h2 class="text-3xl font-bold p-10">Login</h2>
      </div>
      <form class="max-w-sm mx-auto" [formGroup]="loginForm" (ngSubmit)="submitUser()">
        <div class="mb-5">
          <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            for="registration">Registration</label>
          <input
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            id="registration" type="text" formControlName="registration">
        </div>
        <div class="mb-5">
          <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="passwordUser">Password</label>
          <input
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            id="passwordUser" type="password" formControlName="passwordUser">
        </div>

        <div *ngIf="loginForm.get('registation')?.invalid && loginForm.get('passwordUser')?.touched">
          <small *ngIf="loginForm.get('registation')?.errors?.['required']">matricule requis.</small>
          <small *ngIf="loginForm.get('passwordUser')?.errors?.['required']">password requis.</small>
        </div>

        <button type="submit" class="primary" [disabled]="loginForm.invalid">Apply now</button>
      </form>
    </section>
  </div>